<main class="columns">
    <div class="column is-three-fifths">
        <app-alert-table
            [alertList]="alertList"
            (selectAlert)="onSelectAlert($event)"></app-alert-table>
    </div>

    <div class="column">
        <app-alert-detail
            [alert]="selectedAlert"></app-alert-detail>
    </div>
</main>
