<div>    
    <div class="tabs is-centered is-toggle is-small">
        <ul>
            <li 
                *ngFor="let sensor of sensorList"
                (click)="selectTab(sensor.id)"  
                [ngClass]="{'is-active' : sensor.id === selectedSensorID}"
            >
                <a>{{ sensor.id }}</a>
            </li>
        </ul>
    </div>

    <ng-container *ngFor="let sensor of sensorList">
        <div [hidden]="sensor.id !== selectedSensorID">
            <app-line-chart [sensorID]="sensor.id"></app-line-chart>
        </div>        
    </ng-container>
</div>

