@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;

    &__header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #2f3646;
        color: #ffffff;
        font-family: 'Ceviche One', cursive;
        font-size: 32px;
        height: 60px;
        min-height: 60px;
        padding: 5px 10px;
    }

    &__name {
        transition: all 1s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.2) translateX(25px);
        }
    }    

    &__body {
        .spinner__wrapper {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
        }

        background-color: transparent;
        flex: 1;
        padding: 10px;
    }

    &__footer {
        background-color: beige;
        height: 0;
    }
}