<div class="app">
    <div class="app__header">
        <div class="app__name" routerLink="/">
            anEAUmalie
        </div>

        <div class="app__cta">
            <div class="buttons">
                <button class="button is-primary is-inverted is-outlined" routerLink="/alerts">
                    <b>{{ alertCount }}</b>&nbsp;
                    <span>Alert(s)</span>
                </button>

                <button 
                    *ngIf="!isSimRunning"
                    class="button is-primary is-inverted is-outlined" 
                    (click)="startSimulation()"
                >
                    Start Simulation
                </button>
            </div>
        </div>
    </div>

    <div class="app__body">
        <div class="spinner__wrapper" *ngIf="isLoadingData">
            <app-spinner></app-spinner>
        </div>

        <ng-container *ngIf="!isLoadingData">
            <router-outlet></router-outlet>
        </ng-container>
    </div>

    <div class="app__footer">Footer</div>
</div>

