<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>ID Capteur</th>
            <th>Niv. confiance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let alert of alertList" [ngClass]="{'has-background-danger': !alert.endedAt, 'has-text-white': !alert.endedAt}">
            <td>{{ alert.sensorID }}</td>
            <td>{{ getConfidenceLevel(alert) }}</td>
            <td>{{ formatDateTime(alert.startedAt) }}</td>
            <td>{{ alert.endedAt ? formatDateTime(alert.endedAt) : 'En Cours' }}</td>
            <td>
                <div class="buttons" *ngIf="alert.endedAt">
                    <button class="button is-small is-info is-outlined" (click)="showDetails(alert)">
                        Voir détail
                    </button>

                    <button class="button is-small is-success is-outlined">
                        Valider
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>