<div *ngIf="sensorID">
    <div>
        <div class="is-size-6">Capteur: {{ sensorID }}</div>
        <div class="is-size-6">Détail de l'anomalie détectée entre le {{ alertStartedAt }} et le {{ alertEndedAt }}</div>
    </div>
    
    <div style="height: 50vh; margin-top: 20px;">
        <ngx-charts-line-chart 
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [xAxisLabel]="xAxisLabel" 
            [yAxis]="showYAxis"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"  
            [legend]="showLegend" 
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [autoScale]="autoscale">
        </ngx-charts-line-chart>
    </div>
</div>
