<article>
    <div style="height: 60vh">
        <ngx-charts-line-chart 
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [xAxisLabel]="xAxisLabel" 
            [yAxis]="showYAxis"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"  
            [legend]="showLegend" 
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [autoScale]="autoscale">
        </ngx-charts-line-chart>
    </div>
</article>
